$title-font-stack: 'Permanent Marker', cursive;
$subtitle-font-stack: 'League Gothic', 'Avenir', Helvetica, sans-serif;
$font-stack: 'Geomanist', 'Avenir', Helvetica, Arial, sans-serif;

$x-black: #1a1a1a;
$black: #1e1e1e;
$dark-grey: #232323;
$light-grey: #2e2e2e;
$lighter-grey: #3c3c3c;
$x-lighter-grey: #4c4c4c;
$dark-white: #e8eae9;
$white: #f2f4f3;

$red: #e53f35;
$pink: #cc019c;

$bg-color: $white;
$txt-color: $lighter-grey;
